/target/
/.idea/
**/logs
*.iml
**/*.jar
/reports/
.openapi-generator*
default.env
.env

*.jenkinsfile
README.md
!.github/README.md
*.p12
!tiger/docker/vau-proxy/root.p12
/smartcards/
/tiger/ideas4countryBprofiles.txt

